<section>
  <div class="row group">
    <div class="col col-6">
      <p class="strong">The Agreement on the Conservation of African-Eurasian Migratory Waterbirds (AEWA) is an intergovernmental treaty dedicated to the conservation of migratory waterbirds and their habitats across Africa, Europe, the Middle East, Central Asia, Greenland and the Canadian Archipelago.
      <p class="strong">AEWA covers 255 species of birds which are ecologically dependent on wetlands for at least part of their annual cycle.</p>
    </div>
    <div class="col col-6">
      <p class="strong">The visualisations below provide summaries of a few key elements of AEWA implementation, highlighting the progress towards the AEWA Strategic Plan 2009-2017 targets and identifying priority areas where more effort and focus is needed.</p>
      <p class="strong">This data has provided by AEWA Contracting Parties in their national reports to the Agreement for the period 2012-2014 and has been pulled dynamically from the Online Reporting System.</p>
    </div>
  </div>
</section>

<hr>

<section>
  <h2 class="heading center">Reporting Parties</h2>

  <div class="row group">
    <div class="col col-6">
      <h3>National report submission map</h3>
      <div id="map"></div>
    </div>
    <div class="col col-6">
      <h3>National report submission rate</h3>
      <h4>
        AWEA Parties that provided National Reports<br>
        (as of <%= Date.today.strftime("%d %B %Y") %> )
      </h4>

      <div class="stats-block-percentage">
        <div class="percentage-submitted stats-block-percentage__figure"></div>
        <div class="stats-block-percentage__text">
          <div class="num-submitted stats-block-percentage__text--blue"></div>
          <div>Parties</div>
        </div>
      </div>

      <h3>National report submission by numbers</h3>
      <div class="stats-block-graph">
        <div id='submission_chart'></div>
      </div>
    </div>
  </div>
</section>

<hr>

<section class="container">
  <h2 class="heading center">Habitat Conservation</h2>

  <div class="row group">
    <%= image_tag 'Habitat.jpg' %>
  </div>
  <div class="row group">
    <div class="col col-6">
      <p class="strong">The migration of AEWA species across borders requires international cooperation throughout their entire migratory range in order to conserve and manage the populations and the habitat on which they depend.</p>
    </div>
    <div class="col col-6">
      <p class="strong">Parties reported on the designation of protected sites of both national and international importance, indicating whether management plans were being implemented.</p>
      <p class="strong">With a target of at least 50% of Parties establishing national coordination mechanisms, progress has been made, but further work is required.</p>
    </div>
  </div>
  <div class="row group">
    <h3 class="subheading">Management and protection of nationally and<br> internationally important sites</h3>
    <h3>Which sites that were identified as important, either internationally or nationally, for Table 1 migratory waterbird species/populations have been designated as protected areas under the national legislation and have management plans that are being implemented?</h3>
  <div id="total_sites" class="loading">
    <%= render partial: "spinner" %>
  </div>
  <div id="nationally_important_sites"></div>
  <div id="internationally_important_sites"></div>
  </div>
</section>

<hr>

<section class="container">
  <h2 class="heading center">Management of Human Activities</h2>
  <div class="row group">
    <%= image_tag 'Human_interactions.jpg' %>
  </div>
  <div class="row group">
    <div class="col col-6">
      <p class="strong">In order to ensure that any use of waterbirds within the Agreement area is sustainable, Parties reported on the existence of related national legislation and measures.</p>
    </div>
    <div class="col col-6">
      <p class="strong">Targets have been set for all Parties to introduce national legislation prohibiting the use of lead shot in hunting, undertake measures to reduce and, as far as possible, eliminate illegal taking of waterbirds and to undertake measures to reduce the incidental catch of seabirds – all of which require further work.</p>
  </div>
  <div class="container">
    <h2>Hunting</h2>
    <h3 class="subheading">Phased out Lead shot</h3>
    <h3>Has your country phased out the use of lead shot for hunting in wetlands?</h3>
    <div id='lead_shot_chart' class="loading">
      <%= render partial: "spinner" %>
    </div>
    <div id='lead_shot_chart_row'></div>
    <div class="panel">
      <p class="strong">PROGRESS TOWARDS TARGET </span><p>
      <p class="strong">The use of lead shot for hunting in wetlands is phased out in all AEWA Contracting Parties</p>
      <div id='lead_shot_chart_target'> </div>
      <div class="side-panel">
        <p><%= fa_icon 'info-circle' %> By 2017, AEWA countries should phase out the use of lead ammunition in both wetlands and terrestrial environments (Target 2.1 of the AEWA Strategic Plan 2009-2017).</p>
      </div>
    </div>
    <h2>Illegal Take</h2>
    <h3 class="subheading">Measure to reduce/eliminate illegal taking</h3>
    <h3>Are there measures in your country to reduce/eliminate illegal taking?</h3>
    <div id='illegal_taking_chart' class="loading">
      <%= render partial: "spinner" %>
    </div>
    <h2>Bycatch</h2>
    <h3 class="subheading">Measures to reduce incidental catch of seabirds</h3>
    <h3>Has your country undertaken steps towards the adoption/application of measures to reduce the incidental catch of seabirds and combat illegal unregulated and unreported (IUU) fishing practices in the agreement area?</h3>
    <div id="seabirds_chart" class="loading">
      <%= render partial: "spinner" %>
    </div>
    <div id="seabirds_chart_row"></div>
    <div class="side-panel"><p><%= fa_icon 'exclamation-triangle' %> Longline and trawl fisheries have significant and widespread impacts on many seabird species, often with lethal effects.<p></div>
  </div>
</section>

<hr>

<section class="container">
  <h2 class="heading center">Education & Information</h2>
  <div class="row group">
    <%= image_tag 'Birds.jpg' %>
  </div>
  <div class="row group">
    <div class="col col-6">
      <p class="strong">The improvement of communication, education and public awareness of migratory waterbird species is important for the success of AEWA.</p>
      <p class="strong">Through the dissemination of information on the 255 species, their flyways, threats faced and the measures needed to conserve them and their habitat.</p>
    </div>
    <div class="col col-6">
      <p class="strong">Parties reported on the development and implementation of awareness-raising programmes relating to waterbird conservation and AEWA, surpassing the target of 25% of Parties having implemented such programmes.</p>
    </div>
  </div>
  <div class="container">
    <h3 class="subheading">in-country awareness raising programmes</h3>
    <h3>Has your country developed and implemented programmes for raising awareness and understanding on waterbird conservation and about AWEA?</h3>
    <div id="awareness_chart" class="loading">
      <%= render partial: "spinner" %>
    </div>
    <div id="awareness_chart_row"></div>
    <div class="panel">
      <p class="strong">PROGRESS TOWARDS TARGET </span><p>
      <p class="strong">At least 25% of Contracting Parties have developed and are implementing programmes for raising awareness and understanding on waterbird conservation and AEWA</p>
      <div id='awareness_chart_target'> </div>
      <div class="side-panel">
        <p><%= fa_icon 'info-circle' %> Strategic Plan Target: 4.3. Awareness and understanding of waterbird conservation issues in general and of AEWA in particular are increased at all levels within Contracting Parties</p>
      </div>
    </div>
  </div>
</section>

