<!DOCTYPE html>
<html>
<head>
  <title>AEWA NAtional Reports 2012-2014</title>
  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript">
    google.load('visualization', '1.0', {'packages':['corechart', 'bar']})
  </script>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="aewa-logo">
        <%= image_tag 'AEWA_logo.jpg' %>
      </div>
      <h1 class="heading">AEWA National Reports 2012-2014</h1>
    </div>
    <%= yield %>
  </div>
  <div class="footer">
    <div class="row group ors-logo-bar">
      <div class="container">
        <div class="col col-6 ors-logo">
          <%= image_tag "ORS_identity.jpg" %>
        </div>
        <div class="col col-6 ors-info">
          <p>
            Lorem ipsum dolor sit amet, iusto dicant ocurreret et mel, cu vix dico assum ignota, graeco malorum qui id. Ex vix vide adversarium. Quo ut brute liberavisse. Nisl argumentum ut duo. Nam cu iriure referrentur, ex doming conclusionemque his. No sed doctus feugait assueverit, at option docendi usu, mea iudicabit disputationi ei.
          </p>
        </div>
      </div>
    </div>

    <div class="row group copyright-bar">
      <div class="container">
        <div class="row group">
          <div class="col col-8" id="left">
            <p>Copyright &copy; <%= DateTime.now.year %> UNEP-WCMC. All rights reserved.</p>
          </div>
          <div class="col col-4 right">
            <p>Powered By UNEP-WCMC</p>
            <%= image_tag 'wcmc_logo.png', class: 'unep-wcmc-logo' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
